---
import Layout from "../layouts/Layout.astro";

---

<Layout title="404 Page">
  <section class="text-center h-screen flex items-center justify-center fixed left-0 right-0 top-0 bottom-0 bg-white z-[100]">
    <div class="container">
      <h4 class="text-4xl lg:text-[10rem] font-bold leading-none">404</h4>
      <h3 class="text-4xl mb-4">
        <strong class="text-primary">أُووبس!</strong> هذه الصفحة لا يمكن ايجادها.
      </h3>
      <p class="text-xl text-gray-500 mb-10">
        عذرا، الصفحة التي تبحث عنها غير متوفرة.<br /> ربما تريد العودة إلى المنزل
      </p>
  
      <a
        href="/"
        class="text-white px-7 py-4 bg-black rounded-lg font-bold text-lg"
        >اذهب للمنزل</a
      >
    </div>
  </section>
</Layout>
