---
import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import ServiceTable from "../components/partials/services/ServiceTable";

if (!Astro.cookies.has("reef_admin_token")) {
  return Astro.redirect("/signin");
}

// const urlParamsObject = {
//   populate: {
//     user: {
//       populate: "*",
//     },
//     media: {
//       populate: "*",
//     },
//     category: {
//       populate: "*",
//     },
//     personalInformation: {
//       populate: "*",
//     },
//     requestInformation: {
//       populate: "*",
//     },
//   },
// };

// const strapiUrl = import.meta.env.STRAPI_URL;
// const strapiToken = import.meta.env.STRAPI_Token;

// const servicesData = await fetchApi({
//   endpoint: "services", // the content type to fetch
//   query: urlParamsObject,
//   apiUrl: strapiUrl,
//   apiToken: strapiToken,
// });

// console.log(servicesData, "servicesData");
---

<Layout title="Services">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
  >
    <h1 class="text-5xl">البوابة الرئيسية</h1>
  </div>

  <div class="flex justify-center align-middle py-8 my-8">
    <!-- Email Icon -->
    <div class="flex flex-col items-center">
      <a href="https://outlook.live.com/mail/0/" target="_blank" rel="noopener noreferrer">
        <img
          src="./images/Outlook-Logo.svg"
          alt="Email Icon"
          class="w-32 h-32 md:w-48 md:h-48 lg:w-64 lg:h-64"
        />
      </a>
      <span class="mt-2 text-xl">البريد</span>
    </div>

    <!-- Platform Icon -->
    <div class="flex flex-col items-center">
      <a href="https://reef-ar2.webflow.io/" target="_blank" rel="noopener noreferrer">
        <img
          src="./images/reef_icon.svg"
          alt="Platform Icon"
          class="w-32 h-32 md:w-48 md:h-48 lg:w-64 lg:h-64"
        />
      </a>
      <span class="mt-2 text-xl">البوابة الخارجية</span>
    </div>
  </div>
</Layout>
