---
import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import JobRequestTable from "../components/partials/jobs/JobRequestTable";
import { roleStore } from "../store/roleStroe";

if (!Astro.cookies.has("reef_admin_token")) {
  return Astro.redirect("/signin");
}

const urlParamsObject = {
  populate: {
    fullName: {
      populate: "*",
    },
    email: {
      populate: "*",
    },
    coverLetter: {
      populate: "*",
    },
    portfolioLink: {
      populate: "*",
    },
    phone: {
      populate: "*",
    },
  },
};

const strapiUrl = import.meta.env.STRAPI_URL;
const strapiToken = import.meta.env.STRAPI_Token;

const servicesData = await fetchApi({
  endpoint: "job-order-request-ids", // the content type to fetch
  query: urlParamsObject,
  apiUrl: strapiUrl,
  apiToken: strapiToken,
});

const role = roleStore.get();

console.log(servicesData, "servicesData");
---

<Layout title="Service Request Page">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
  >
    <!-- Card header -->
    <div class="items-center justify-between lg:flex">
      <div class="mb-4 lg:mb-0">
        <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
          All Job Requests
        </h3>
        <span class="text-base font-normal text-gray-500 dark:text-gray-400"
          >This is a list of latest JOb Requests</span
        >
      </div>
      <div class="items-center sm:flex"></div>
    </div>

    <!-- Table -->
    <div class="flex flex-col mt-6">
      <div class="overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow sm:rounded-lg">
            <JobRequestTable
              role={role}
              strapiUrl={strapiUrl}
              strapiToken={strapiToken}
              servicesData={servicesData}
              client:only="react"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
