---
import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import MediaCenterContent from "../components/partials/media-center/MediaCenterContent";

if (!Astro.cookies.has("reef_admin_token")) {
  return Astro.redirect("/signin");
}

const urlParamsObject = {
  populate: {
    user: {
      populate: "*",
    },
    media: {
      populate: "*",
    },
    icon: {
      populate: "*",
    },
    article_category: {
      populate: "*",
    },
    personalInformation: {
      briwseBtn: "*",
    },
  },
};

const strapiUrl = import.meta.env.STRAPI_URL;
const strapiToken = import.meta.env.STRAPI_Token;

const articlesData = await fetchApi({
  endpoint: "articles", // the content type to fetch
  query: urlParamsObject,
  apiUrl: strapiUrl,
  apiToken: strapiToken,
});

const role = Astro.cookies.get("role")?.value;

console.log(articlesData, "servicesData");
---

<Layout title="Services">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
  >
    <MediaCenterContent
      role={role}
      apiUrl={strapiUrl}
      apiToken={strapiToken}
      articlesData={articlesData}
      client:only="react"
    />
  </div>
</Layout>
