---
import fetchApi from "../lib/strapi";
import Layout from "../layouts/Layout.astro";
import ServiceTable from "../components/partials/services/ServiceTable";
import { roleStore } from "../store/roleStroe";

if (!Astro.cookies.has("reef_admin_token")) {
  return Astro.redirect("/signin");
}

const urlParamsObject = {
  populate: {
    user: {
      populate: "*",
    },
    media: {
      populate: "*",
    },
    category: {
      populate: "*",
    },
    personalInformation: {
      populate: "*",
    },
    requestInformation: {
      populate: "*",
    },
  },
};

const strapiUrl = import.meta.env.STRAPI_URL;
const strapiToken = import.meta.env.STRAPI_Token;

const servicesData = await fetchApi({
  endpoint: "services", // the content type to fetch
  query: urlParamsObject,
  apiUrl: strapiUrl,
  apiToken: strapiToken,
});

const role = roleStore.get();

console.log(servicesData, "servicesData");
---

<Layout title="Services">
  <div
    class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
  >
    <ServiceTable
      role={role}
      apiUrl={strapiUrl}
      apiToken={strapiToken}
      servicesData={servicesData}
      client:only="react"
    />
  </div>
</Layout>
